.corpo {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../assets/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

 
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(3, 110, 26, 0.1); 
    backdrop-filter: blur(1.5px);
    z-index: 0;
  }

 
  > * {
    position: relative;
    z-index: 1;
  }

  // Responsividade
  @media (max-width: 768px) {
    background-position: top;
    
    &::before {
      backdrop-filter: blur(1px);
    }

    > * {
      padding: 1rem;
    }
  }

}
