@use './variaveis' as *;

.menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  background: rgba(1, 40, 77, 0.8);
  border-radius: 1rem;
  padding: 0.5rem;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap; 
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    flex: 1 1 100px; 
    text-align: center;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: white;
    font-size: 1rem;
  }

  img {
    width: 80px;
    aspect-ratio: 1080 / 1149; 
    object-fit: cover; 
    margin-bottom: 0.3rem;
    display: block;
  }
}

/*  Responsividade */
@media (max-width: 768px) {
  .menu {
    width: 90%;
    padding: 0.4rem;

    img {
      width: 70px;
      height: 70px;
    }

    figure {
      font-size: 0.9rem;
    }
  }
}

