@use './variaveis' as *;

dialog.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(300px, 50%, 600px);
  max-height: 80%;
  background: $claro;
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  border: 2px solid #01284D;
  box-shadow: 
    0 0 12px rgba(7, 69, 163, 0.7),
    0 8px 24px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  overflow-y: auto;

  /* Scroll estilizado */
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  .titulo {
    margin-bottom: 2rem;
    color: #01284D;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
  }

  p {
    margin-bottom: 1.5rem;
    color: $fundo;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    line-height: 1.5;
  }

  .caixaTexto {
    width: 70%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 2px solid #01284D;
    font-size: 1.2rem;
    background: $claro;
    color: $fundo;
  }

  .modal-botoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap; 
  }

  .resultado {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  img {
    margin-top: 1rem;
    width: clamp(60px, 15%, 100px); 
  }
}

/*  Responsividade Tablets */
@media (max-width: 768px) {
  dialog.modal {
    padding: 1.5rem;

    .caixaTexto {
      width: 80%;
    }
  }
}

/* Celulares */
@media (max-width: 480px) {
  dialog.modal {
    width: 90%;
    padding: 1rem;
    border-radius: 12px;

    p {
      font-size: 0.9rem;
    }

    .caixaTexto {
      width: 90%;
      font-size: 1rem;
    }

    .modal-botoes {
      flex-direction: column;
      gap: 0.6rem;
    }

    button {
      width: 100%;
      padding: 0.6rem;
      font-size: 1rem;
    }

    img {
      width: 60px;
    }
  }
}