@use'./variaveis.scss' as *;

.conteiner {
  display: flex;
  gap: 16px; 
  padding: 16px;
  flex-direction: column;
  align-items: center;
  color: $primary;

}

.coluna {
  background-color: #eaeaea;
  padding: 12px;
  border-radius: 10px;
  width: 400px; 
  min-height: 400px; 
  display: flex;
  flex-direction: column;
}

.atividades{
  display: flex;
  flex-direction: row;
  gap: 20px;
}