// Tarefa.scss
@use'./variaveis.scss' as *;

article {
  width: 320px;
  min-height: 100px;
  background-color: #f9f9f9; 
  border: 2px solid #ccc;    
  border-radius: 12px;       
  padding: 16px;
    margin: 20px auto 16px auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    color: #333;
     word-wrap: break-word;    
  overflow-wrap: break-word;
  }
  h4 {
  word-wrap: break-word;    
  overflow-wrap: break-word; 
  white-space: pre-wrap;    
  font-size: 0.95rem;
  color: #444;
  margin: 0 0 10px 0;
}
  dl {
    display: flex;
    flex-direction: column;
    gap: 6px;
    

    dt {
      font-weight: bold;
      font-size: 0.9rem;
      color: #525252;
      margin-top: 5px;
 
    }

    dd {
      margin: 0 0 6px 0;
      font-size: 0.9rem;
      color: #666;
    }
  }

  button {
    padding: 6px 12px;
    margin-right: 8px;
    margin-top: 8px;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
      background-color: $primary;
    }
  }

  form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 0.9rem;
      font-weight: bold;
    }

    select {
      padding: 6px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }

    button {
      background-color: $accent;

      &:hover {
        background-color: $accent;
      }
    }
  }
}
